---
import ContactPage from '@layouts/ContactPage.astro';
---

<ContactPage>
    <div slot="chat-widget">
        <script is:inline src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-d0a4ee56-ded6-49d0-99ee-e40ba9f139d5" data-elfsight-app-lazy></div>
    </div>

    <div slot="contact-widget">
        <div class="elfsight-app-33e93a8c-a9a7-44c8-bf1b-c86e3af9bb5c" data-elfsight-app-lazy></div>
    </div>

    <div slot="weather-widget">
        <div class="elfsight-app-91b21fac-0200-49a5-8e0c-8a4ed4e7550e" data-elfsight-app-lazy></div>
    </div>

    <div slot="map-widget">
        <div class="elfsight-app-a02a5bdb-eea8-40e4-a586-620b1f7b76fc" data-elfsight-app-lazy></div>
    </div>
</ContactPage>
