---
import IndexPage from "@layouts/IndexPage.astro";
---

<IndexPage>
    <div slot="google-reviews-widget">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-c0cee589-adb5-46d8-bda3-79de868165ab" data-elfsight-app-lazy></div>
    </div>
</IndexPage>
