---
import ReviewsPage from "@layouts/ReviewsPage.astro";
---

<ReviewsPage>
    <div slot="all-reviews-widget">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-3232d382-82f1-4a69-939f-de16aa194650" data-elfsight-app-lazy></div>
    </div>
</ReviewsPage>
