---
import ContactPage from '@layouts/ContactPage.astro';
---

<ContactPage>
    <div slot="chat-widget">
        <script is:inline src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-7a328ea3-90aa-4080-a494-5d398e162152" data-elfsight-app-lazy></div>
    </div>

    <div slot="contact-widget">
        <div class="elfsight-app-2ca65e2c-e98d-473f-b497-da697c51abd6" data-elfsight-app-lazy></div>
    </div>

    <div slot="weather-widget">
        <div class="elfsight-app-2202ae0d-6424-4b75-9b98-f80a373f36c6" data-elfsight-app-lazy></div>
    </div>

    <div slot="map-widget">
        <div class="elfsight-app-84e513f0-221f-4dc1-8d15-43dd3015ef0a" data-elfsight-app-lazy></div>
    </div>
</ContactPage>
