---
import IndexPage from "@layouts/IndexPage.astro";
---

<IndexPage>
    <div slot="google-reviews-widget">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-e7a07a2e-8a06-45cf-840c-13babfd4d9d3" data-elfsight-app-lazy></div>
    </div>
</IndexPage>
