---
import ReviewsPage from "@layouts/ReviewsPage.astro";
---

<ReviewsPage>
    <div slot="all-reviews-widget">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-e55a2c62-c502-458f-a267-c947bdcdf187" data-elfsight-app-lazy></div>
    </div>
</ReviewsPage>
