---
import yaml from 'js-yaml';
import fs from 'fs';

import FaqCard from "@components/FaqCard.astro";

let faqs: any[] = [];
try {
    faqs = yaml.load(fs.readFileSync('oreste/faq.yaml', 'utf8')) as any[];
} catch (e) {
  console.log(e);
}

import { getLangFromUrl, useDataTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const { d } = useDataTranslations(lang);
---

<div class="faq">
    {faqs.map((faq, index) => (
        <div class="faq-item">
            <FaqCard question={d(faq.question)!} answer={d(faq.answer)!} id={index}  />
        </div>
    ))}
</div>

<style lang="less">
    .faq {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-item {
        width: 100%;
    }
</style>
