---
import { getLangFromUrl, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<footer>
    <div class="columns">
        <div class="column-left">
            <p class="detail">© 2024 B&B Baia di Trentova</p>
            <p class="detail"><span>Via De Filippo, 13</span> - <span>84043 Agropoli</span></p>
            <p class="detail"><a href="mailto:info@baiaditrentova.com">info@baiaditrentova.com</a></p>
            <p class="detail"><a href="tel:+390974829444">+39-0974 829 444</a></p>
        </div>

        <div class="column-right">
            <script is:inline src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-67a3d5b1-7338-41fa-82c4-d69858f168e6" data-elfsight-app-lazy></div>

            <br>
            <a href={translatePath("en/reviews")}>
                <script is:inline src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-3b51f4df-ccf9-4184-aa7d-e47df0224df1" data-elfsight-app-lazy></div>
            </a>
        </div>
    </div>

    <br>
    <p class="made-with">Site made with <span class="heart">♡</span> by <a href="mailto:marcin@realemail.net ">Marcin S.</a></p>

    <slot name="footer" />
</footer>

<style lang="less">
    footer {
		width: 65%;
		max-width: 1000px;

		margin: 0 auto;
        margin-top: 5rem;
        padding: 2em;
        border-top: 1px solid var(--brown);

        text-align: center;

		@media (max-width: 800px) {
            width: 85%;
		}

		@media (max-width: 600px) {
            width: 95%;
		}

        p {
            font-weight: 300;
            margin: auto;
        }
    }

    .columns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .column-left {
    }
    .column-right {
    }

    .detail {
        margin-top: 0.5rem;

        font-size: 1.1rem;

        @media (max-width: 768px) {
            font-size: 0.9em;
        }
    }
    .made-with {
        margin-top: 0.5rem;

        font-size: 1rem;
        color: var(--brown);

        @media (max-width: 768px) {
            font-size: 0.85em;
        }
    }

    .heart {
        color: red;
    }
</style>
