---
import { languages } from '@i18n/ui';
import { getLangFromUrl, urlToLangPath } from '@i18n/utils';
const pageLang = getLangFromUrl(Astro.url);
---

<div class="language-picker">
    {Object.entries(languages).map(([lang, label]) => (
        <a class={"lang-link hover separator" + ((pageLang === lang) ? " lang-link-active" : "")}
            href={urlToLangPath(Astro.url, lang as keyof typeof languages)}
            title={label}
            >
            <span class="lang-link-inner">{lang}</span>
        </a>
    )) }
</div>

<style lang="less">
    .language-picker {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 0 0.5rem;

        @media (max-width: 700px) {
            margin: 0 0.25rem;
        }
    }

    .lang-link {
        padding: 1em 0.5em;
        border-radius: 0.25em;

        color: var(--brown-dk);

        @media (max-width: 700px) {
            font-size: 0.85em;
        }

        .lang-link-inner {
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;

            border-bottom: 1px solid transparent;
            padding: 0.15em 0;

            @media (max-width: 700px) {
                font-size: 1em;
            }
        }
    }

    .lang-link-active .lang-link-inner {
        border-bottom: 1.5px solid var(--blue)
    }
</style>
