---
import LanguagePicker from '@components/LanguagePicker.astro';
import NavCard from '@components/NavCard.astro';

import { Image } from 'astro:assets';
import logoLong from "@images/logo/long.svg";

import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

{/*
The outer container is needed just to center the whole thing.
*/}
<div id="main-nav-main" class="navbar-container-outer">
    <div class="navbar-container">
        <div class="navbar-left">
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav-links">
                {/* TODO: Replace with actual links and translated text */}
                <NavCard href={translatePath("en/rooms")} text={t("nav.rooms")} />
                <NavCard href={translatePath("en/contact")} text={t("nav.contact")} />
                <NavCard href="https://wubook.net/nneb/bk?f=tomorrow&n=2&ep=621e64c4&board=bb&o=2.0.0.0" text={t("nav.book")} />
            </div>
        </div>

        <div class="navbar-right">
            <LanguagePicker />
            <a class="nav-logo hover" href={translatePath("")}>
                <Image class="nav-logo-inner" src={logoLong} alt={t('site.name')} />
            </a>
        </div>
    </div>
</div>

<style lang="less">
    .navbar-container-outer {
        position: fixed;
		display: flex;
		justify-content: center;
        
        top: 0;
        width: 100%;
        height: 5rem;
        z-index: 100;

        background: var(--white-bg);

        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, .2));

        @media (max-width: 700px) {
            height: 4rem;
        }

        .navbar-container {
            display: flex;
            justify-content: space-between;
            
            width: 100%;
            /* Synced with .index-heading */
            max-width: 82.5%;
            
            border-bottom: 1px solid var(--gray);
            
            @media (max-width: 700px) {
                max-width: 95%;
            }
            
            .navbar-left {
                display: flex;
                align-items: center;
            }
            
            .navbar-right {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }

    .nav-logo {
        display: flex;
        align-items: center;
        height: 100%;
        width: 300px;

        @media (max-width: 700px) {
            width: 220px;
        }
        
        .nav-logo-inner {
            height: 60%;

            filter: drop-shadow(2px 4px 1.5px rgba(0, 0, 0, .26));
        }
    }

    // 
    // Hamburger styles
    //
    
    .hamburger {
        margin: 0 1rem;
        cursor: pointer;
    }

    .hamburger .line {
        display: block;

        width: 30px;
        height: 3px;
        margin: 8px 0;
        
        background-color: var(--orange);

        @media (max-width: 700px) {
            width: 20px;
            height: 2px;
            margin: 6px 0;
        }
    }

    /* Mobile */
    .nav-links {
        display: none;
        opacity: 0;
        position: absolute;

        width: 16rem;
        top: 5rem;
        left: 0;
        padding: 1rem 0;
        margin: 0;
        border-top: 1px solid var(--brown-dk);

        background-color: var(--white-bg);

        transition: opacity 0.3s ease-in-out;

        @media (max-width: 700px) {
            top: 4rem;
        }
    }

    :global(.nav-links a) {
        padding: 1em 0;
    }

    .expanded {
        display: unset;
    }

    /* Desktop */
    @media screen and (min-width: 1150px) {
        .nav-links {
            display: flex;
            align-items: center;
            position: static;
            opacity: 1;

            width: auto;
            height: 100%;
            background: none;
        
            :global(a) {
                padding: 1em 1.2em;
            }
        }
        
        .hamburger {
            display: none;
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        // Hamburger menu.
        var navbarVisible = false;
        function toggleNavbarMenu() {
            const navLinks = document.querySelector('.nav-links') as HTMLElement;
            if (!navLinks) return;
            
            function showNavbarMenu() {
                navLinks!.style.opacity = "1";
            }
            function hideNavbarMenu() {
                navLinks!.style.display = "none";
            }
            
            if (!navbarVisible) {
                navLinks!.style.display = "block";
                setTimeout(showNavbarMenu, 5);
                navbarVisible = true;
            } else {
                navLinks.style.opacity = "0";
                setTimeout(hideNavbarMenu, 300);
                navbarVisible = false;
            }
        }

        const hamburger = document.querySelector('.hamburger');
        if (!hamburger) return;
        hamburger.addEventListener('click', () => {
            toggleNavbarMenu();
        });
    });
</script>