---
interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;

const classList = ['nav-card hover'];

// Set the current page in the navbar to active.
//
// Trim any trailing slashes from the current page.
var currentPage = Astro.url.pathname.replace(/\/$/, '');
// Ensure a leading slash.
if (!currentPage.startsWith('/')) {
    currentPage = '/' + currentPage;
}

if (href === currentPage) {
    classList.push('active');
}
---

<a class:list={classList} href={href}>
    <span class="inner">
        {text}
    </span>
</a>

<style lang="less">
    .nav-card {
        display: block;

        border-radius: 0.25em;

        text-align: center;
        color: var(--brown-dk);
        text-decoration: none;

        .inner {
            font-weight: normal;

            border-bottom: 1px solid transparent;
            padding: 0.15em 0;
        }
    }

    .active .inner {
        border-bottom: 1.5px solid var(--blue)
    }
</style>