---
// Simple version of FadeIn component, specifically to work with ParallaxImage.

interface Props {
    classList?: string[];
}

const { classList = [] } = Astro.props;
---

<parallax-fade-in>
    <div class:list={["parallax-fade-in", ...classList]}>
        <slot />
    </div>
</parallax-fade-in>

<style lang="less">
    .parallax-fade-in {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.2s ease-in;
    }
    .parallax-fade-in.is-visible {
        opacity: 1;
        visibility: visible;
    }
</style>

<script>
    class ParallaxFadeIn extends HTMLElement {
        connectedCallback() {
            let div = this.children[0] as HTMLDivElement;

            function setVisible() {
                div.classList.add('is-visible')
            }

            setTimeout(setVisible, 100);
        }
    }

    customElements.define('parallax-fade-in', ParallaxFadeIn);
</script>
