---
import Layout from "@layouts/Layout.astro";

import Faq from "@components/Faq.astro";
import FadeIn from "@components/FadeIn.astro";
import FormatText from "@components/FormatText.astro";
import PageSection from "@components/PageSection.astro";

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("contact.title")} description={t("contact.description")}>
    <slot name="chat-widget" />

    <div class="top-spacer"></div>

    <PageSection>
        <div class="columns">
            <div class="column-left">
                <FadeIn>
                    <h2>{t("contact.title")}</h2>
                    <p class="contact-description"><FormatText text={t("contact.description")} /></p>

                    <br>
                    <br>
                    <slot name="contact-widget" />
                </FadeIn>
            </div>

            <div class="column-right">
                <FadeIn>
                    <h2>{t("contact.faq")}</h2>
                    <Faq />

                    <div class="weather-widget">
                        <slot name="weather-widget" />
                    </div>
                </FadeIn>
            </div>
        </div>
    </PageSection>

    <PageSection>
        <slot name="map-widget" />
    </PageSection>
</Layout>

<style lang="less">
    .columns {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .column-left {
        flex: 1;
    }
    .column-right {
        flex: 1;
    }

    .contact-description {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .weather-widget {
        display: flex;
        justify-content: center;

        margin-top: 2rem;
    }
</style>
