---
import Layout from "@layouts/Layout.astro";

import PageSection from "@components/PageSection.astro";
import FormatText from "@components/FormatText.astro";

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("contact.title")} description={t("index.description")}>
    <PageSection>
        <h1>{t("contact.title")}</h1>
        <p><FormatText text={t("contact.description")} /></p>
        <br>
        <br>
        TODO: add back contact form!
        <!-- <slot name="contact-widget" /> -->
    </PageSection>
    
    <PageSection>
        TODO: add back map!
        <!-- <slot name="map-widget" /> -->
    </PageSection>
</Layout>

<style lang="less">
</style>