---
import Layout from "@layouts/Layout.astro";

import Faq from "@components/Faq.astro";
import PageSection from "@components/PageSection.astro";
import FormatText from "@components/FormatText.astro";

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("contact.title")} description={t("contact.description")}>
    <div class="top-spacer"></div>
    
    <PageSection>
        <div class="columns">
            <div class="column-left">
                <h2>{t("contact.title")}</h2>
                <p class="body-text"><FormatText text={t("contact.description")} /></p>
                <br>
                <br>
                TODO: add back contact form!
                <!-- <slot name="contact-widget" /> -->
            </div>
            
            <div class="column-right">
                <h2>{t("contact.faq")}</h2>
                <Faq />
            </div>
        </div>
    </PageSection>
    
    <PageSection>
        TODO: add back map!
        <!-- <slot name="map-widget" /> -->
    </PageSection>
</Layout>

<style lang="less">
    .columns {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
</style>