---
import fs from 'fs';
import yaml from 'js-yaml';

interface Experience {
    title: Record<string, string>;
    text: Record<string, string>;
    media?: string;
}
interface ExperiencesPage {
    experiences: Experience[];
}

let experiencesPage: ExperiencesPage | undefined = undefined;
try {
    experiencesPage = yaml.load(fs.readFileSync('oreste/experiences.yaml', 'utf8')) as ExperiencesPage;
} catch (e) {
    console.log(e);
    throw e;
}

import Layout from "@layouts/Layout.astro";

import FadeIn from "@components/FadeIn.astro";
import FormatText from "@components/FormatText.astro";
import PageSection from "@components/PageSection.astro";

import { getLangFromUrl, useTranslations, useDataTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { d } = useDataTranslations(lang);
---

<Layout title={t("experiences.title")} description={t("experiences.description")}>
    <div class="top-spacer"></div>

    <PageSection>
        <FadeIn>
            <h2>{t("experiences.title")}</h2>
        </FadeIn>
    </PageSection>

    {experiencesPage.experiences.map((experience, index) => (
        <PageSection>
            <FadeIn>
                <div class="columns-experiences" data-reverse={(index % 2 == 0) ? "yes" : "no"} >
                    <div class="column-details">
                        <h3><FormatText text={d(experience.title)!} /></h3>

                        <p class="small-text"><FormatText text={d(experience.text)!} /></p>
                    </div>

                    <div class="column-images">
                        {experience.media && <Fragment set:html={experience.media} />}
                    </div>
                </div>
            </FadeIn>
        </PageSection>
    ))}
</Layout>

<style lang="less">
    :global(li) {
        font-size: 1.3rem;
        text-align: left;

        @media (max-width: 768px) {
            font-size: 1.1rem;
        }
    }
    :global(summary) {
        font-size: 1.2rem;
    }
    :global(details p) {
        font-size: 1.2rem;
    }

    .columns-experiences {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        &[data-reverse="yes"] {
            flex-direction: row-reverse;
        }

        @media (max-width: 700px) {
            flex-direction: column !important;
            row-gap: 3rem;
        }

        h3 {
            max-width: 75%;
            margin: auto;
            margin-bottom: 1rem;
        }
    }
    .column-images {
        flex: 0.55;

        width: 100%;

        display: flex;
        justify-content: center;
    }
    .column-details {
        flex: 0.45;

        text-align: center;
        max-width: 80%;
    }
</style>
