---
import Layout from "@layouts/Layout.astro";

import ParallaxImage from "@components/ParallaxImage.astro";
import PageSection from "@components/PageSection.astro";

import { Image } from "astro:assets";
import Index2 from "@images/index/index2.jpg";
import Index3 from "@images/index/index3.jpg";

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("rooms.title")} description={t("index.description")}>
    <div style="margin-top: 5rem;"></div>
    <ParallaxImage id="welcome-img" image={Index2} heading={t("rooms.welcome.header")} description={t("rooms.welcome")} height="60vh" />
    
    <PageSection>
        <h2 class="description-header">{t("rooms.description.header")}</h2>
        <p class="description">{t("rooms.description")}</p>
    </PageSection>
</Layout>

<style lang="less">
    :global(#welcome-img) {
        filter: brightness(65%) saturate(140%);
    }    
</style>